.beer {
    background-color: #000;
    margin-top: 80px;
    width: 100vw;
}

.beer-block {
    /* margin-top: 100px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 50px 0;
}

.beer-card {
    width: 320px;
    min-height: 400px;
    border-radius: 20px;
    background-color: #333;
    padding: 20px;
}

.beer-img {
    width: 100%;
    height: 300px;
    padding: 5%;
}

.title {
    color: #ffa500;
    font-size: 24px;
}

.info {
    font-size: 18px;
    color: #fff;
    padding: 5%;
}

.indef-id {
    display: flex;
    justify-content: end;
    color: #fff;
}